* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: black;
  font-size: 2rem;
}

* ul li {
  list-style-type: none;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.listOfBooks {
  width: 95%;
  border: 3px solid black;
  margin-top: 1.5rem;
}

.listOfBooks > ul {
  padding: 0.75rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.listOfBooks > ul:nth-child(odd) {
  background-color: grey;
}

.listOfBooks > ul > li {
  display: inline-block;
}

.listOfBooks > ul > li:last-child {
  float: right;
}

form input,
form button {
  display: block;
  margin: 0.5rem;
}

.alert {
  color: rgb(202, 13, 13);
}

.removeBtn,
.addBtn {
  color: black;
  background-color: white;
  font-size: 1rem;
  border: 3px solid black;
  padding: 0.75rem;
}
